In [1]:
import pandas as pd

In [49]:
df = pd.read_csv("../IBM/TN/TN_incoming_people_till_yesterday.csv").fillna(0)
df

            date            travel_mode  passengers  positive_cases
0     2020-07-23       airport_domestic      153963           468.0
1     2020-07-23  airport_international       41460           751.0
2     2020-07-23            grand total      420925          5044.0
3     2020-07-23               road_bus       40370             0.0
4     2020-07-23               road_own      159986          3367.0
...          ...                    ...         ...             ...
3579  2022-02-13            grand total     7720086          9281.0
3580  2022-02-13               road_bus       41416             0.0
3581  2022-02-13               road_own      357267          6517.0
3582  2022-02-13               sea_port        2447            34.0
3583  2022-02-13                  train       35374           428.0

[3584 rows x 4 columns]

In [70]:
df2 = df.pivot( index="date", columns=["travel_mode"], values=["passengers", "positive_cases"])
df2
df2.to_csv("./TN_processed/TN_incoming_people_till_yesterday_transposed.csv")

In [62]:
df_rt = pd.read_csv("./TN/TN_case_info_with_rt.csv")
df_rt_2 = df_rt["I"]
len(df2[(    'passengers',      'airport_domestic')])
df_rt_2 = df_rt_2[:-1]
len(df_rt_2)
df2.insert(0, "Rt_mean", df_rt["I"][:-1], True)

In [63]:
df2[("passengers", "I")]=df_rt["I"][:-1]

C:\Users\mypc\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2895: PerformanceWarning: indexing past lexsort depth may impact performance.
  return runner(coro)
C:\Users\mypc\anaconda3\lib\site-packages\IPython\core\async_helpers.py:68: PerformanceWarning: indexing past lexsort depth may impact performance.
  coro.send(None)

In [64]:
df2["passengers"]["I"]=df_rt["I"][:-1]

<ipython-input-64-9c923c5698f5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["passengers"]["I"]=df_rt["I"][:-1]

In [65]:
df2

            Rt_mean           passengers                                    \
travel_mode             airport_domestic airport_international grand total
date
2020-07-23      NaN NaN         153963.0               41460.0    420925.0
2020-07-24      NaN NaN         157882.0               42090.0    427048.0
2020-07-25      NaN NaN         160892.0               42509.0    432041.0
2020-07-26      NaN NaN         165068.0               43276.0    439297.0
2020-07-28      NaN NaN         172063.0               44450.0    450096.0
...             ...  ..              ...                   ...         ...
2022-01-22      NaN NaN        6741859.0              651506.0   7833121.0
2022-01-23      NaN NaN        6751869.0              652640.0   7844475.0
2022-01-24      NaN NaN        6762028.0              653666.0   7855782.0
2022-01-25      NaN NaN        6772601.0              654500.0   7867326.0
2022-02-13      NaN NaN        6642756.0              640826.0   7720086.0

                                                   positive_cases  \
travel_mode road_bus  road_own sea_port    train airport_domestic
date
2020-07-23   40370.0  159986.0   2447.0  22699.0            468.0
2020-07-24   40419.0  161511.0   2447.0  22699.0            477.0
2020-07-25   40451.0  163043.0   2447.0  22699.0            482.0
2020-07-26   40494.0  164438.0   2447.0  23574.0            506.0
2020-07-28   40567.0  166995.0   2447.0  23574.0            546.0
...              ...       ...      ...      ...              ...
2022-01-22   41416.0  360519.0   2447.0  35374.0           1104.0
2022-01-23   41416.0  360729.0   2447.0  35374.0           1104.0
2022-01-24   41416.0  360851.0   2447.0  35374.0           1104.0
2022-01-25   41416.0  360988.0   2447.0  35374.0           1104.0
2022-02-13   41416.0  357267.0   2447.0  35374.0           1104.0

                                                                          \
travel_mode airport_international grand total road_bus road_own sea_port
date
2020-07-23                  751.0      5044.0      0.0   3367.0     34.0
2020-07-24                  769.0      5100.0      0.0   3396.0     34.0
2020-07-25                  780.0      5162.0      0.0   3442.0     34.0
2020-07-26                  787.0      5237.0      0.0   3485.0     34.0
2020-07-28                  799.0      5338.0      0.0   3534.0     34.0
...                           ...         ...      ...      ...      ...
2022-01-22                 1208.0      9460.0      0.0   6686.0     34.0
2022-01-23                 1208.0      9473.0      0.0   6699.0     34.0
2022-01-24                 1208.0      9480.0      0.0   6706.0     34.0
2022-01-25                 1212.0      9496.0      0.0   6718.0     34.0
2022-02-13                 1198.0      9281.0      0.0   6517.0     34.0

                   passengers
travel_mode  train          I
date
2020-07-23   424.0        NaN
2020-07-24   424.0        NaN
2020-07-25   424.0        NaN
2020-07-26   425.0        NaN
2020-07-28   425.0        NaN
...            ...        ...
2022-01-22   428.0        NaN
2022-01-23   428.0        NaN
2022-01-24   428.0        NaN
2022-01-25   428.0        NaN
2022-02-13   428.0        NaN

[512 rows x 17 columns]