In [7]:
import pandas as pd
import numpy as np

In [8]:
def read(name):
    data = pd.read_csv("..\\..\\datasets\\final\\"+name)
    return data

In [9]:
kl = read("klfinal.csv")
tn = read("tnfinal.csv")
mh = read("mhfinal.csv")

In [10]:
final=pd.DataFrame()
def desc(dfs,final):
    for df in dfs:
        final=final.append(df.min(),ignore_index=True)
        final=final.append(df.max(),ignore_index=True)
    return final

name=[tn,kl,mh]
final=desc(name,final)
final.head(6)

,Confirmed,DI,Date,GA,H,MT,New Cases,Rt,SL,State,T,TJ
0,1.0,0.0,01/01/2021,0.0,17.0,0.0,0.0,0.666787,0.0,Tamil Nadu,11.13,0.0
1,2579130.0,270.0,31/12/2020,514.0,97.0,484.0,36184.0,13.836890,407.0,Tamil Nadu,34.20,508.0
2,3.0,0.0,01/01/2021,0.0,23.0,0.0,0.0,0.190500,0.0,Kerala,9.33,0.0
3,3586693.0,270.0,31/12/2020,514.0,98.0,485.0,43529.0,29.999927,420.0,Kerala,31.33,508.0
4,39.0,0.0,01/01/2021,2.0,35.0,0.0,0.0,0.587164,0.0,Maharashtra,18.53,0.0
5,6363442.0,270.0,31/12/2020,514.0,95.0,487.0,68631.0,3.095276,308.0,Maharashtra,32.67,508.0

In [11]:
import pandas as pd
import numpy as np

k_df = pd.read_csv('..\\..\\datasets\\final\\klfinal.csv')

t_df = pd.read_csv('..\\..\\datasets\\final\\tnfinal.csv')

m_df = pd.read_csv('..\\..\\datasets\\final\\mhfinal.csv')

In [13]:
def range_k(val) :
    if val == 0 :
        return 0
    elif val <= 30 :
        return 1
    elif val <= 60 :
        return 2
    elif val <= 120 :
        return 3
    elif val <= 200 :
        return 4
    else :
        return 5

def range_h_k(val) :
    if val < 33 :
        return 0
    elif 33 <= val <= 45 :
        return 1
    elif 46 <= val <= 60 :
        return 2 
    elif 61 <= val <= 75 :
        return 3
    else :
        return 4
    
def range_t_k(val) :
    if val <=15 :
        return 1
    elif val<=25:
        return 2
    else :
        return 3   



def range_nc_k(val) :
    if val ==0 :
        return 0
    elif val<= 500 :
        return 1
    elif 501 <= val <= 1500:
        return 2
    elif 1501 <= val <= 2500 :
        return 3
    elif 2501 <= val <= 5000 :
        return 4
    elif val>5000:
        return 5


def ranging(t_df):
    tf_df = pd.DataFrame()

    for i in range(len(t_df)) :
        a = []
        a.append(range_t_k(t_df.iloc[i]['T']))
        a.append(range_h_k(t_df.iloc[i]['H']))
        a.append(range_k(t_df.iloc[i]['SL']))
        a.append(t_df.iloc[i]['Confirmed'])
        a.append(range_k(t_df.iloc[i]['DI']))
        a.append(range_k(t_df.iloc[i]['GA']))
        a.append(range_k(t_df.iloc[i]['MT']))
        a.append(range_nc_k(t_df.iloc[i]['New Cases']))
        a.append(range_k(t_df.iloc[i]['TJ']))
        a.append(t_df.iloc[i]['State'])
        a.append(t_df.iloc[i]['Date'])
        a.append(t_df.iloc[i]['Rt'])
        tf_df = tf_df.append([a])
        
    tf_df.rename(columns = {0 : 'T' , 1 : 'H' , 2 : 'SL' , 3 : 'Confirmed' , 4 : 'DI' , 5 : 'GA'
     , 6 : 'MT' , 7 : 'New Cases' , 8 : 'TJ' , 9 : 'State' , 10 : 'Date', 11 : 'Rt'}, inplace = True)
    return tf_df

tf_df = ranging(t_df)
kf_df = ranging(k_df)
mf_df = ranging(m_df)
tf_df.to_csv('..\\..\\datasets\\final\\tnfinalgrouped.csv' , index = False)
kf_df.to_csv('..\\..\\datasets\\final\\klfinalgrouped.csv' , index = False)
mf_df.to_csv('..\\..\\datasets\\final\\mhfinalgrouped.csv' , index = False)